Modbus-Flow.json
[
    {
        "id": "a765641f.b87f48",
        "type": "tab",
        "label": "Flow 2 Modbus",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7772b31.81ac38",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "LIFETIME_ENERGY_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "false",
        "x": 1730,
        "y": 60,
        "wires": []
    },
    {
        "id": "94bac702.826e38",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "POWER_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "false",
        "x": 1690,
        "y": 120,
        "wires": []
    },
    {
        "id": "36186341.163fb4",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "SERIAL_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "false",
        "x": 1690,
        "y": 180,
        "wires": []
    },
    {
        "id": "1fa466ef.b86669",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "STATE_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "false",
        "x": 1690,
        "y": 240,
        "wires": []
    },
    {
        "id": "a236674.3adbf98",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "TYPE_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "false",
        "x": 1690,
        "y": 300,
        "wires": []
    },
    {
        "id": "62ca8ae3.52e0e4",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "P_NOW",
        "topic": "",
        "attrname": "payload",
        "payloadType": "value",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "1f0df431.dee1d4"
            ]
        ]
    },
    {
        "id": "1f0df431.dee1d4",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "P_NOW_SF",
        "topic": "",
        "attrname": "sf",
        "payloadType": "value",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "c41da5f.03533d8"
            ]
        ]
    },
    {
        "id": "c41da5f.03533d8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var power = msg.payload;\nvar sf = msg.sf;\nmsg.topic = msg.topic2;\n\nswitch(sf)\n{\n    case \"0\": power = power;\n    break;\n    case \"-1\": power /= 10;\n    break;\n    case \"-2\": power /= 100;\n    break;\n    case \"-3\": power /= 1000;\n    break;\n    case \"-4\": power /= 10000;\n    break;\n    case \"-5\": power /= 100000;\n    break;\n    case \"-6\": power /= 1000000;\n    break;\n}\n\nmsg.payload = power; //power.toString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 120,
        "wires": [
            [
                "72ea4179.9174c",
                "94bac702.826e38"
            ]
        ]
    },
    {
        "id": "f3500bcd.cbcb2",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "SN",
        "topic": "",
        "attrname": "payload",
        "payloadType": "value",
        "x": 810,
        "y": 180,
        "wires": [
            [
                "cd6728df.c1f0f8"
            ]
        ]
    },
    {
        "id": "b7c97aae.9a0838",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "STATE",
        "topic": "",
        "attrname": "payload",
        "payloadType": "value",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "4b6547c3.01dbe"
            ]
        ]
    },
    {
        "id": "4b6547c3.01dbe",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var state = msg.payload;\nvar stateString;\nmsg.topic = msg.topic2;\n\nswitch(state){\n    case \"1\": stateString = \"OFF\";\n        break;\n    case \"2\": stateString = \"Sleeping / Night-Mode\";\n        break;\n    case \"3\": stateString = \"Grid monitoring / Wake up\";\n        break;\n    case \"4\": stateString = \"MPP\";\n        break;\n    case \"5\": stateString = \"Production (curtailed)\";\n        break;\n    case \"6\": stateString = \"Shutting down\";\n        break;\n    case \"7\": stateString = \"Fault\";\n        break;\n    case \"8\": stateString = \"Maintenance / Setup\";\n        break;\n}\n\nmsg.payload = stateString;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "ae8ebf58.ef4ff8",
                "1fa466ef.b86669"
            ]
        ]
    },
    {
        "id": "6927952d.06907c",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "NAME",
        "topic": "",
        "attrname": "payload",
        "payloadType": "value",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "56656c5c.f56f94"
            ]
        ]
    },
    {
        "id": "42e9ae97.e4bed8",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "E-TOTAL",
        "topic": "",
        "attrname": "payload",
        "payloadType": "value",
        "x": 820,
        "y": 60,
        "wires": [
            [
                "413acb14.e8b3ac"
            ]
        ]
    },
    {
        "id": "413acb14.e8b3ac",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "E_TOTAL",
        "topic": "",
        "attrname": "sf",
        "payloadType": "value",
        "x": 1040,
        "y": 60,
        "wires": [
            [
                "2f55b067.936638"
            ]
        ]
    },
    {
        "id": "2f55b067.936638",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var power = msg.payload;\nvar sf = msg.sf;\nmsg.topic = msg.topic2;\n\nswitch(sf)\n{\n    case \"0\": power = power;\n    break;\n    case \"-1\": power /= 10;\n    break;\n    case \"-2\": power /= 100;\n    break;\n    case \"-3\": power /= 1000;\n    break;\n    case \"-4\": power /= 10000;\n    break;\n    case \"-5\": power /= 100000;\n    break;\n    case \"-6\": power /= 1000000;\n    break;\n}\n\nmsg.payload = (power /1000).toString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "a2423489.5eb72",
                "f7772b31.81ac38"
            ]
        ]
    },
    {
        "id": "8825b483.2d69c8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var nameInv = msg.nameInv;\nvar oldTime = msg.payload;\nvar currentTime = new Date();\nvar newEnergy = msg.newEnergy;\nvar oldEnergy = msg.oldEnergy;\nvar eInv = msg.eInv;\n\nvar day = currentTime.getUTCDate();\nvar month = currentTime.getMonth() +1;\nvar year = currentTime.getFullYear();\nvar hours = currentTime.getHours();\nvar minutes = currentTime.getMinutes();\nvar seconds = currentTime.getSeconds();\n\n//GLOBALE VARIABLEN\n//global.set(\"foo\",\"bar\");  // this is now available to other nodes\n//var myfoo = global.get(\"foo\");  // this should now be \"bar\"\nvar currentDay = global.get(\"DATE\");\n\nif(day < 10)\n{\n    day = \"0\" + day;\n}\nif(month < 10)\n{\n    month = \"0\" + month;\n}\nif(hours < 10)\n{\n    hours = \"0\" + hours;\n}\nif(minutes < 10)\n{\n    minutes = \"0\" + minutes;\n}\nif(seconds < 10)\n{\n    seconds = \"0\" + seconds;\n}\n\nvar date = day + \".\" + month + \".\" + year;\nvar time = hours + \":\" + minutes + \":\" + seconds;\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nif (date != currentDay)\n{\n    msg.payload = date.toString();\n    msg1.payload = \"0\";\n    msg3.payload = oldEnergy.toString();\n    global.set(\"DATE\", date);\n}\nelse\n{\n    eInv = Number(eInv) + (newEnergy - oldEnergy);\n    msg2.payload = (eInv.toFixed(3)).toString();\n    msg3.payload = newEnergy.toString();\n}\n\nmsg1.payload = time;\n\nmsg.topic = \"Solaredge.0.\" + nameInv + \".TIMESTAMP\";\nmsg1.topic = \"Solaredge.0.\" + nameInv + \".TIMESTAMP_TIME\";\nmsg2.topic = \"Solaredge.0.\" + nameInv + \".ENERGY_INV\";\nmsg3.topic = \"Solaredge.0.\" + nameInv + \".E_OLD\";\n\nreturn [msg, msg2, msg1, msg3];\n\n/*\nmsg1.topic5 = \"Solaredge.0.\" + name + \".TIMESTAMP\";\nmsg1.topic6 = \"Solaredge.0.\" + name + \".TIMESTAMP_TIME\";\nmsg1.topic7 = \"Solaredge.0.\" + name + \".ENERGY_INV\";\nmsg1.topic8 = \"Solaredge.0.\" + name + \".E_OLD\";\n*/\n",
        "outputs": 4,
        "noerr": 0,
        "x": 1770,
        "y": 480,
        "wires": [
            [
                "5a338637.c91ec8",
                "2f4fee14.691c52"
            ],
            [
                "79aa225.0ec125c",
                "efa4072a.528c6"
            ],
            [
                "fc474b3f.da2068",
                "b2f5be11.a32b2"
            ],
            [
                "e986379a.aeafc8",
                "b9a0fa78.e72"
            ]
        ]
    },
    {
        "id": "27841124.37c71e",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "TIMESTAMP",
        "topic": "",
        "attrname": "payload",
        "payloadType": "value",
        "x": 990,
        "y": 480,
        "wires": [
            [
                "4540ae41.a94ae8",
                "c306f402.15021"
            ]
        ]
    },
    {
        "id": "5c38f36e.a729f4",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "TIMESTAMP_TIME",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 2410,
        "y": 520,
        "wires": []
    },
    {
        "id": "e54eeeb1.69858",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "E_LIFETIME_NEW",
        "topic": "",
        "attrname": "newEnergy",
        "payloadType": "value",
        "x": 1190,
        "y": 480,
        "wires": [
            [
                "4367e1fd.4e56e8"
            ]
        ]
    },
    {
        "id": "41850b1b.fc31d4",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "E_LIFETIME_OLD",
        "topic": "",
        "attrname": "oldEnergy",
        "payloadType": "value",
        "x": 1410,
        "y": 480,
        "wires": [
            [
                "60ca20fd.b5e788"
            ]
        ]
    },
    {
        "id": "3a2a278.cd7f2d8",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "E_LIFETIME",
        "topic": "",
        "attrname": "eInv",
        "payloadType": "value",
        "x": 1610,
        "y": 480,
        "wires": [
            [
                "8825b483.2d69c8"
            ]
        ]
    },
    {
        "id": "2f4fee14.691c52",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "TIMESTAMP",
        "topic": "",
        "ack": "true",
        "autoCreate": "true",
        "x": 2310,
        "y": 420,
        "wires": []
    },
    {
        "id": "efa4072a.528c6",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "ENERGY_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "true",
        "x": 2320,
        "y": 580,
        "wires": []
    },
    {
        "id": "b9a0fa78.e72",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "E_OLD",
        "topic": "",
        "ack": "true",
        "autoCreate": "true",
        "x": 2300,
        "y": 640,
        "wires": []
    },
    {
        "id": "b2f5be11.a32b2",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "TIMESTAMP_TIME",
        "topic": "",
        "ack": "true",
        "autoCreate": "true",
        "x": 2330,
        "y": 480,
        "wires": []
    },
    {
        "id": "c109577e.581238",
        "type": "ioBroker out",
        "z": "a765641f.b87f48",
        "name": "NAME_INV",
        "topic": "",
        "ack": "true",
        "autoCreate": "false",
        "x": 1690,
        "y": 360,
        "wires": []
    },
    {
        "id": "b177e160.8e1db",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var name;\nvar payload = msg.payload;\nmsg.topic = msg.topic2;\n\nif(Number(payload) < 10)\n{\n    name = \"DEV 0\" + payload;\n}\nelse{\n    name = \"DEV \" + payload;\n}\n\nmsg.payload = name;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 360,
        "wires": [
            [
                "f8cf3413.ab6d58",
                "c109577e.581238"
            ]
        ]
    },
    {
        "id": "b30bf175.3ea3e",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "//Topic beschreibt die Quelle (Modbus Daten)\nvar topic = msg.payload;\n//Topic2 beschreibt das Ziel (Solaredge Daten)\nvar topic2 = \"0\";\n\n//Die Ausg채nge\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\n\n//Wenn payload == 1 ODER payload < Anzahl der Wechselrichter, dann den Code ausf체hren\nif(msg.payload == 1 || msg.payload <= Number(msg.devices))\n{\n    //Topic2 setzen (f체hrende 0)\n    if(Number(topic) < 10)\n    {\n        topic2 = \"0\" + topic;\n    }\n    else\n    {\n        topic2 = topic;\n    }\n    \n    //Die Topics zuweisen\n    msg1.topic = \"modbus.0.holdingRegisters.\" + topic + \".40021_MODEL\"; //Quelle Modbus\n    msg1.topic2 = \"Solaredge.0.WR\" + topic2 + \".TYPE_INV\"; //Ziel Solaredge Daten TYPE_INV\n    \n    msg2.topic = \"modbus.0.holdingRegisters.\" + topic + \".40052_SN\"; //Quelle Modbus\n    msg2.topic2 = \"Solaredge.0.WR\" + topic2 + \".SERIAL_INV\"; //Ziel Solaredge Daten SERIAL_INV\n    \n    msg3.topic = \"modbus.0.holdingRegisters.\" + topic + \".40083_P_NOW\"; //Quelle Modbus\n    msg3.topic2 = \"Solaredge.0.WR\" + topic2 + \".POWER_INV\"; //Ziel Solaredge Daten POWER_INV\n    \n    msg4.topic = \"modbus.0.holdingRegisters.\" + topic + \".40084_P_NOW_SF\"; //Quelle Modbus\n    \n    msg5.topic = \"modbus.0.holdingRegisters.\" + topic + \".40093_E_TOTAL\"; //Quelle Modbus\n    msg5.topic2 = \"Solaredge.0.WR\" + topic2 + \".LIFETIME_ENERGY_INV\"; //Ziel Solaredge Daten LIFETIME_ENERGY_INV\n    \n    msg6.topic = \"modbus.0.holdingRegisters.\" + topic + \".40095_E_TOTAL_SF\"; //Quelle Modbus\n    \n    msg7.topic = \"modbus.0.holdingRegisters.\" + topic + \".40107_STATUS\"; //Quelle Modbus\n    msg7.topic2 = \"Solaredge.0.WR\" + topic2 + \".STATE_INV\";//Ziel Solaredge Daten STATE_INV\n    \n    msg8.payload = msg.payload;//topic.toString();\n    msg8.topic2 = \"Solaredge.0.WR\" + topic2 + \".NAME_WR\";//Ziel Solaredge Daten NAME_WR\n}\n\nmsg1.counter = topic;\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];",
        "outputs": 8,
        "noerr": 0,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "fedcba71.94f1f8",
                "6927952d.06907c",
                "21e7dcd2.3f93e4"
            ],
            [
                "f3500bcd.cbcb2"
            ],
            [
                "62ca8ae3.52e0e4"
            ],
            [
                "1f0df431.dee1d4"
            ],
            [
                "42e9ae97.e4bed8"
            ],
            [
                "413acb14.e8b3ac"
            ],
            [
                "b7c97aae.9a0838"
            ],
            [
                "b177e160.8e1db",
                "99c213fa.4d0ad"
            ]
        ]
    },
    {
        "id": "b127962c.4caa58",
        "type": "inject",
        "z": "a765641f.b87f48",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "b30bf175.3ea3e"
            ]
        ]
    },
    {
        "id": "c486cc7f.730b8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var countDevices = msg.devices;\n\nif(msg.counter < Number(countDevices))\n{\n    msg.payload = (Number(msg.counter) + 1).toString();\n    msg.devices = countDevices;\n    \n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 620,
        "wires": [
            [
                "b30bf175.3ea3e"
            ]
        ]
    },
    {
        "id": "fedcba71.94f1f8",
        "type": "delay",
        "z": "a765641f.b87f48",
        "name": "",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 160,
        "y": 620,
        "wires": [
            [
                "b460df51.1a4b6"
            ]
        ]
    },
    {
        "id": "f8cf3413.ab6d58",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "DEBUGGER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "b460df51.1a4b6",
        "type": "ioBroker get",
        "z": "a765641f.b87f48",
        "name": "COUNT_DEVICES",
        "topic": "Solaredge.0.COUNT_DEVICES",
        "attrname": "devices",
        "payloadType": "value",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "c486cc7f.730b8"
            ]
        ]
    },
    {
        "id": "a63b3cdc.310fe8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "var name;\nvar payload = msg.payload;\n\n//OUTPUTS\nvar msg1 = {};\n\n\nif(Number(payload) < 10)\n{\n    name = \"WR0\" + payload;\n}\nelse{\n    name = \"WR \" + payload;\n}\n\n//ZUWEISEN\nmsg1.topic1 = \"Solaredge.0.\" + name + \".TIMESTAMP\";\nmsg1.topic2 = \"Solaredge.0.\" + name + \".LIFETIME_ENERGY_INV\";\nmsg1.topic3 = \"Solaredge.0.\" + name + \".E_OLD\";\nmsg1.topic4 = \"Solaredge.0.\" + name + \".ENERGY_INV\";\n/*\nmsg1.topic5 = \"Solaredge.0.\" + name + \".TIMESTAMP\";\nmsg1.topic6 = \"Solaredge.0.\" + name + \".TIMESTAMP_TIME\";\nmsg1.topic7 = \"Solaredge.0.\" + name + \".ENERGY_INV\";\nmsg1.topic8 = \"Solaredge.0.\" + name + \".E_OLD\";\n*/\nmsg1.nameInv = name;\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 440,
        "wires": [
            [
                "a6332ad7.1bc768"
            ]
        ]
    },
    {
        "id": "a6332ad7.1bc768",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "msg.topic = msg.topic1;\nmsg.nameInv = msg.nameInv;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 440,
        "wires": [
            [
                "27841124.37c71e"
            ]
        ]
    },
    {
        "id": "4540ae41.a94ae8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "msg.topic = msg.topic2;\nmsg.nameInv = msg.nameInv;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 440,
        "wires": [
            [
                "e54eeeb1.69858"
            ]
        ]
    },
    {
        "id": "4367e1fd.4e56e8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "msg.topic = msg.topic3;\nmsg.nameInv = msg.nameInv;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 440,
        "wires": [
            [
                "41850b1b.fc31d4"
            ]
        ]
    },
    {
        "id": "60ca20fd.b5e788",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "msg.topic = msg.topic4;\nmsg.nameInv = msg.nameInv;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1590,
        "y": 440,
        "wires": [
            [
                "3a2a278.cd7f2d8"
            ]
        ]
    },
    {
        "id": "5a338637.c91ec8",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1960,
        "y": 260,
        "wires": []
    },
    {
        "id": "79aa225.0ec125c",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1960,
        "y": 300,
        "wires": []
    },
    {
        "id": "fc474b3f.da2068",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "oldEnergy",
        "targetType": "msg",
        "x": 1980,
        "y": 340,
        "wires": []
    },
    {
        "id": "e986379a.aeafc8",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1960,
        "y": 380,
        "wires": []
    },
    {
        "id": "c306f402.15021",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "nameInv",
        "targetType": "msg",
        "x": 960,
        "y": 620,
        "wires": []
    },
    {
        "id": "fdc4e262.c0ae8",
        "type": "comment",
        "z": "a765641f.b87f48",
        "name": "Hier bin ich bei der Verarbeitung der TOPICs stehen geblieben :)",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2423489.5eb72",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "TOPIC LIFETIME_ENERGY_INV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1460,
        "y": 40,
        "wires": []
    },
    {
        "id": "99c213fa.4d0ad",
        "type": "delay",
        "z": "a765641f.b87f48",
        "name": "",
        "pauseType": "delay",
        "timeout": "750",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "a63b3cdc.310fe8"
            ]
        ]
    },
    {
        "id": "427bab6e.de714c",
        "type": "comment",
        "z": "a765641f.b87f48",
        "name": "Alle 5 Minuten wird ausgef체hrt.",
        "info": "",
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "21e7dcd2.3f93e4",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "counter",
        "targetType": "msg",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "72ea4179.9174c",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "TOPIC POWER_INV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1420,
        "y": 100,
        "wires": []
    },
    {
        "id": "e6f4c51e.b456a",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "TOPIC SERIAL_INV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1420,
        "y": 160,
        "wires": []
    },
    {
        "id": "cd6728df.c1f0f8",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "msg.topic = msg.topic2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 180,
        "wires": [
            [
                "e6f4c51e.b456a",
                "36186341.163fb4"
            ]
        ]
    },
    {
        "id": "ae8ebf58.ef4ff8",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "TOPIC STATE_INV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1410,
        "y": 220,
        "wires": []
    },
    {
        "id": "56656c5c.f56f94",
        "type": "function",
        "z": "a765641f.b87f48",
        "name": "",
        "func": "msg.topic = msg.topic2;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 300,
        "wires": [
            [
                "bd4329f0.a23a2",
                "a236674.3adbf98"
            ]
        ]
    },
    {
        "id": "bd4329f0.a23a2",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "TOPIC TYPE_INV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "x": 1410,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f577aee.67ded6",
        "type": "debug",
        "z": "a765641f.b87f48",
        "name": "ENERGY_DAY",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 2400,
        "y": 600,
        "wires": []
    }
]
